@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@100;300;400;700;900&family=Monoton&display=swap');

$primaryTextColor: #00D1FF;
$secondaryTextColorWhite: white;
$primaryFontMonoton: Monoton, sans-serif;
$secondaryFontBebasNeue: Bebas Neue, sans-serif;